mawster.app {
    redir https://www.mawster.app{uri} permanent
}

www.mawster.app {
    encode zstd gzip

    # Headers de sécurité HTTP/HTTPS
    header {
        X-Frame-Options "DENY"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
        Permissions-Policy "camera=(), microphone=(), geolocation=(), payment=(), usb=(), accelerometer=()"
        -Server
    }

    handle /static/* {
        reverse_proxy api:8000
    }

    handle_path /myadmin* {
        reverse_proxy myadmin:80
    }

    handle {
        reverse_proxy front:3000
    }
}
