mawster.dev {
    redir https://www.mawster.dev{uri} permanent
}

www.mawster.dev {
    encode zstd gzip

    # Headers de sécurité HTTP/HTTPS
    header {
        X-Frame-Options "DENY"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
        Permissions-Policy "camera=(), microphone=(), geolocation=(), payment=(), usb=(), accelerometer=()"
        -Server
    }

    handle /static/* {
        reverse_proxy api:8000
    }

    handle {
        reverse_proxy front:3000
    }
}
