[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
pyjwt = "*"
passlib = {extras = ["bcrypt"], version = "<2.0.0,>=1.7.4"}
python-multipart = "*"
pydantic-settings = "*"
sqlmodel = "*"
aiomysql = "*"
icecream = "*"
pymysql = "*"
alembic = "*"
bleach = "*"

[dev-packages]
pytest = "*"
aiosqlite = "*"
pytest-asyncio = "*"
pytest-mock = "*"
pytest-cov = "*"
Faker = "*"
time-machine = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.12"
